.jumbotron {
    background: url("https://www.smartertravel.com/uploads/2017/06/switzerland-train-sized-down-1200x627.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .80;
} 


h4 {
    color: white;
    padding: 8px;
    margin: 7px 300px 7px 300px;
    border-style: outset;
    border-radius: 17px;
    background-color: rgb(27, 25, 25);
}

.panel-title {
    color: rgb(27, 25, 25);
}
